html {
  display: flex;
}
body {
  padding: 20px 10px;
  margin: auto;
  max-width: 900px;
}

div.badges {
  text-align: center;
  user-select: none;
  margin-bottom: 15px;
}

img.aws-badge {
  width: 150px;
}

.title {
  text-align: center;
}

.center {
  text-align: center;
}

.subtext {
  margin: 0;
  font-size: 0.8em;
}

ul.misc-projects {
  margin: auto;
  max-width: 625px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
}
